<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>帳單記錄 - 多搏世界</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
</head>

<body style="background-color: #333;">

{include file='public/menu' /}

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">最後更新</th>
        <th scope="col">進度</th>
    </tr>
    </thead>
    <tbody>
    {volist name='list' id='vo'}
    <tr onclick="show_url('{$vo.id}')">
        <th scope="row">{$vo.id}</th>
        <td>{$vo.create_time|date='Y-m-d,h:i:s',###}</td>
        <td>
            {if condition="$vo.status eq 0"}
              未確認
            {elseif condition="$vo.status eq 1" /}
              已確認
            {else /}
              已取消
            {/if}
        </td>
    </tr>
    {/volist}

    </tbody>
</table>

<!--
<nav aria-label="Page navigation">


    <ul class="pagination justify-content-center">

     <li class="page-item disabled"><a class="page-link">1</a></li>
     <li class="page-item"><a class="page-link" href="https://db-668.net/invoice/history?page=2">2</a></li>
     <li class="page-item"><a class="page-link" href="https://db-668.net/invoice/history?page=3">3</a></li>
     <li class="page-item"><a class="page-link" href="https://db-668.net/invoice/history?page=4">4</a></li>
     <li class="page-item"><a class="page-link" href="https://db-668.net/invoice/history?page=25">&raquo;</a></li>

    </ul>

</nav>
-->
<script src="__INDEX__/js/jquery-3.3.1.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/less.min.js"></script>
<script src="/static/admin/plugins/layer/layer.js"></script>

<script>



</script>
</body>
</html>