<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>多搏世界</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css"></head>
<!--<link rel="stylesheet/less" type="text/css" href="https://db-668.net/html/styles.less?v=d41d8cd98f00b204e9800998ecf8427e"></head>-->
</head>
<body style="background-color: #333;">

{include file="public/menu" /}

<div class="container" style="margin-bottom: 20px;">

    <h3 class="text-center" style="margin-top: 20px; color: #FFF;">{$other.text|default=''}</h3>
    <h6 class="text-center" style="margin-top: 20px; color: #FFF;">**請務必核實需要的充值帳號,一經充值成功無法退回!</h6>
    <h2 class="text-center" style="margin-top: 20px; color: #FFF;">

        <div class="input-group" style="margin-top: 0px;">
                <input type="file" accept="image/*" onchange="UploadsImgs()" id="Capture"  style="display: none;">
                <input type="hidden" id="imgs" value="">
                <input type="hidden" id="order" value="{$Think.get.order}">
        </div>

        <img onclick="$('#Capture').click();" id="images" src="__INDEX__/images/images.png" class="img-fluid rounded mx-auto d-block" style="margin-top: 20px; width: 60%; max-width: 120px;">

        <h5 class="text-center" style="margin-top: 20px; color: #FFF;">请先点击圖片上传凭证，在提交</h5>
   <br>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="input-group" style="">

                <input type="text" class="form-control"  id="names" placeholder="請輸入你的轉帳名字">
                <input type="hidden" name="orderid" value="{$Think.get.order}">
                <div class="input-group" style="margin-top: 20px;">
                    <button id="zhuan"  type="button" class="btn btn-primary btn-lg btn-block">上傳收據</button>
                </div>

        </div>
        <h5 class="text-center" style="margin-top: 20px; color: #FFF;">如不懂如何充值可留意下圖示例</h5>
        <img src="{$shi_img.imgs|default=''}" class="img-fluid rounded mx-auto d-block" style="margin-top: 20px;">
    </div>
    <script src="__INDEX__/js/jquery-3.3.1.min.js"></script>
    <script src="__INDEX__/js/bootstrap.min.js"></script>
    <script src="__INDEX__/js/less.min.js"></script>
    <script src="/static/admin/plugins/layer/layer.js"></script>
    <script>

     function UploadsImgs(){
         var formData =new FormData();
         formData.append("file",$("#Capture")[0].files[0]);
         $.ajax({
             url: "{:url('index/Upimgs')}",
             type: "post",
             data: formData,
             async:false,
             dataType: 'json',
             cache: false,
             processData : false,
             contentType : false,
             success: function (ret) {
                 if (ret.code == 200) {
                     $("#images").attr('src', ret.path);
                     $("#imgs").val(ret.path);
                     layer.msg(ret.msg,{icon:6,time:3500});
                 } else {
                     layer.msg(ret.msg);
                 }
             },

         });
         return false;
     }

     $('#zhuan').click(function(){
         var  names = $('#names').val();
         var  imgs  = $('#imgs').val();
         var order  = $('#order').val();

         if(names =='' || names == undefined){
             layer.msg('请填写你的轉帳名字');
             return ;
         }

         if(imgs =='' || imgs == undefined){
             layer.msg('请上传图片');
             return ;
         }

         if(order =='' || order == undefined){
             layer.msg('参数传递不合法',function(){
                 parent.location.href="{:url('index/index')}";
             });
         }

         var  url = "{:url('index/zhuan')}";

         $.post(url,{'order':order,'imgs':imgs,'names':names},function(ret){
               if(ret.code == 200){
                   layer.msg(ret.msg,function(){
                       parent.location.href ="{:url('index/index')}";
                   })
               }

               if(ret.code == 400){
                   layer.msg(ret.msg,function(){
                       parent.location.reload();
                   })
               }
         },'json')
     })
    </script>

</body>
</html>