<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>最新消息 - 多搏世界</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css"></head>

<body style="background-color: #333;">

{include file="public/menu" /}

<div class="container">
    <div class="card" style="margin: 20px 0 20px 0;">
        <div class="card-body">
          {$info.content}
        </div>
    </div>
</div>

<script src="__INDEX__/js/jquery-3.3.1.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/less.min.js"></script>
<script src="__STATIC__/plugins/layer/layer.js"></script>





</body>
</html>