<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>最新消息 - 多搏世界</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css"></head>

<body style="background-color: #333;">

{include file="public/menu" /}

<div class="container">
    <div class="card" style="margin: 20px 0 20px 0;">
        <div class="card-body">
            <p>親愛既客戶 我地公司《DB多博 》代理遊戲gold777,Live22 ,joker,1388 各位親愛的客戶: 現&lt;DB多博&gt;優惠活動</p>

            <p>1，首充20%充值優惠～首充上限送200元～僅送一次</p>

            <p>2，活動期內充值加送10%優惠～不設上限～</p>

            <p>3，更方便的介紹推廣活動，介紹的新客人在首充時，即送20%作為介紹分，上限送200元～僅送一次 （以上活動不同時享用）</p>

            <p>請注意：送分必須兩倍才可以下分~ 注意：入左張單請係一小時內入分入咗錢影俾我，要有清楚既帳號、銀碼、日期、時間同參考編號。</p>

            <p>提提大家 賬戶無分，送分最多只能下400分..其餘歸公司，</p>

            <p>直到重新充值 我地爆機係5000分 =$10000 謝謝大家 因為密碼簡單，太容易被破解，所以必須要改密碼，多謝合作！</p>

            <p>Because the password is simple and too easy to crack, you must change your password.</p>

            <p>Thank you for your cooperation!</p>

            <p>Live22遊戲下載： <a href="https://www.honey22.com/" target="_blank">https://www.honey22.com</a></p>

            <p>777游戏下载： Android/安卓： <a href="http://thestarbliss.com/download.do" target="_blank">http://thestarbliss.com/download.do</a></p>

            <p>IOS/苹果： <a href="https://itunes.apple.com/us/app/gold-themepark/id1316812893?l=zh&amp;ls=1&amp;mt=8" target="_blank">https://itunes.apple.com/us/app/gold-themepark/id1316812893?l=zh&amp;ls=1&amp;mt=8</a></p>

            <p>joker游戏下载： Android/安卓（暫不支持IOS）： <a href="http://www.gwc388.net/Mobile" target="_blank">http://www.gwc388.net/Mobile</a></p>

            <p>1388游戏下载： Android/iphone： <a href="http://m.sky1388hk.com/download" target="_blank">m.sky1388hk.com/download</a></p>

            <p>本公司招募手遊代理 有意whatsapp客服了解詳情</p>

            <p>各位機友 凡電話是美國的客戶一律不能開帳號，</p>

            <p>本公司只支持大陸卡和香港本地卡。</p>

            <p>希望大家多多捧場 ！繼續支持本公司！如有疑問 可向當班同事資詢！！</p>		</div>
    </div>
</div>

<script src="__INDEX__/js/jquery-3.3.1.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/less.min.js"></script>
<script src="__STATIC__/plugins/layer/layer.js"></script>





</body>
</html>