<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="https://db-668.net/">多搏世界</a>
    <span style="color:#fff;font-size: 1.25rem;">{$Think.session.member.name}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{:url('index/index')}">增值</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('index/history')}">帳單記錄</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('index/index')}">開始遊戲</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('news/index')}">最新消息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{$urls.furl|default=''}">WhatsApp 查詢</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{$urls.iurl|default=''}">下載多搏世界(IOS)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{$urls.aurl|default=''}">下載多搏世界(安卓)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{$urls.furl|default=''}">FB粉絲專頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{:url('login/logout')}">登出</a>
            </li>
        </ul>
    </div>
</nav>