<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            {include file="template/form_header" /}

            <form id="dataForm" class="form-horizontal dataForm" action="" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="fields-group">
                        {if isset($info)}
                        <input id="id" name="id" value="{$info.id}" hidden placeholder="请勿修改">
                        {/if}


                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">帐号</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input  id="name" name="name" value="{$info.name|default=''}"
                                           class="form-control" placeholder="请输入用户帐号">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group iconpicker-container">
                                    <input {if (isset($info) && $info.status==1) || !isset($info)}checked{/if}
                                    value="{$info.status|default='1'}"
                                    class="form-input-switch" type="checkbox" placeholder="status-switch"
                                    data-input="status">
                                    <input id="status" name="status" value="{$info.status|default='1'}" type="hidden"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-footer">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10 col-md-4">
                        <div class="btn-group">
                            <button type="button" class="btn flat btn-info dataform-submit data-add">
                              保存
                            </button>
                        </div>

                        <div class="btn-group">
                            <button type="reset" class="btn flat btn-default dataform-reset">
                                重置
                            </button>
                        </div>

                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<script>
    $('.data-add').click(function(){
         var url = "{:url('user/add')}";

         var url1 = "{:url('user/edit')}";

         var item  = {};

         item.name    = $('#name').val();
         item.status  = $('#status').val();
         item.id      = $('#id').val();

         if(item.name == '' || item.name== undefined){
             layer.msg('帳號不能為空!');
             return ;
         }
         console.log(item);

         if(item.id == '' || item.id == undefined){
             $.post(url,item,function(ret){
                 if(ret.code == 200){
                     layer.msg(ret.msg,function(){
                         parent.location.href = "{:url('user/index')}";
                     })
                 }

                 if(ret.code == 400){
                     layer.msg(ret.msg,function(){
                         parent.location.reload();
                     })
                 }
             },'json')
         }else{
             $.post(url1,item,function(ret){
                 if(ret.code == 200){
                     layer.msg(ret.msg,function(){
                         parent.location.href = "{:url('user/index')}";
                     })
                 }

                 if(ret.code == 400){
                     layer.msg(ret.msg,function(){
                         parent.location.reload();
                     })
                 }
             },'json')
         }


    })
</script>
