
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">
                    <div class="form-group">
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="请搜索帐号查询">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>

                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-header">
                <div>
                    <a title="新增" class="btn btn-primary btn-sm user-add" data-href="{:url('user/add')}">
                        新增
                    </a>
                </div>
            </div>

            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>帐号</th>
                        <th>最后登录时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.name}</td>
                        <td>{$item['last_login_time']}</td>
                        <td>
                            <a class="label label-{if $item.status==1}success{else/}danger{/if} AjaxButton" title="{if $item.status==1}点击禁用{else/}点击启用{/if}" data-id="{$item.id}" data-confirm="1" data-url="disable.html">{$item.admin_status_text}</a>
                        </td>
                        <td class="td-do">
                            <a data-href="{:url('user/edit',array('id'=>$item.id))}"
                               class="btn btn-primary btn-xs user-edit" title="修改">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" title="删除" data-id="{$item.id}" data-url="del.html">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>

        <script>
            $('.user-add').click(function(){
                var url = $(this).attr('data-href');

                layer.open({
                    type: 2,
                    title: '添加',
                    area: ['50%', '60%'],
                    anim: 2,
                    content: url, //iframe的url，no代表不显示滚动条
                })
            })

            $('.user-edit').click(function(){
                var url = $(this).attr('data-href');

                layer.open({
                    type: 2,
                    title: '编辑',
                    area: ['50%', '60%'],
                    anim: 2,
                    content: url, //iframe的url，no代表不显示滚动条
                })
            })

        </script>