<div class="row">

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>订单号</th>
                        <th>游戏类型</th>
                        <th>用户</th>
                        <th>充值类型</th>
                        <th>订单状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='list' id='vo'}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.orderId}</td>
                        <td>{$play[$vo.cid]}</td>
                        <td>{$users[$vo.mid]}</td>
                        <td>
                            {if condition="$vo.pid eq 1"}
                            轉數快
                            {elseif condition="$vo.pid eq 2" /}
                            7-11充值
                            {else /}
                            好友轉賬
                            {/if}
                        </td>
                        <td>
                            {if condition="$vo.status eq 0"}
                            <a class="btn btn-block btn-social btn-github  btn-xs">未確認</a>
                            {elseif condition="$vo.status eq 1"}
                            <a class="btn btn-block btn-social btn-flickr btn-xs">已確認</a>
                            {else /}
                            <a class="btn btn-block btn-social btn-dropbox btn-xs">已取消</a>
                            {/if}
                        </td>
                        <td>{$vo.create_time|date='Y-m-d h:i',###}</td>

                        <td class="td-do">
                            <a data-href="{:url('order/edit',array('id'=>$vo.id,'pid'=>$vo.pid))}"
                               class="btn btn-primary btn-xs edit" title="修改">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs del"
                               title="删除"  data-url="{:url('order/del',array('id'=>$vo.id))}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/volist}


                    </tbody>
                </table>
            </div>

            <div class="box-footer">
                {$list->render()}
                <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
                    {if isset($total)}
                    <small>共{$total} 条记录</small>
                    &nbsp;
                    {/if}
                    <small>每页显示10条</small>
                </label>
            </div>


        </div>

        <script>

            $('.edit').click(function(){
                var url = $(this).attr('data-href');

                layer.open({
                    type: 2,
                    title: '添加',
                    area: ['40%', '60%'],
                    anim: 2,
                    content: url, //iframe的url，no代表不显示滚动条
                })
            })


            $('.del').click(function(){

                var url = $(this).attr('data-url');

                layer.confirm('您是确定要删除？', {
                    btn: ['确定','点错了'] //按钮
                }, function(){
                    $.get(url,function(ret){
                        if(ret.code == 200){
                            layer.msg(ret.msg,function(){
                                parent.location.reload();
                            })
                        }

                        if(ret.code == 400){
                            layer.msg(ret.msg,function(){
                                parent.location.reload();
                            })
                        }
                    },'json')
                }, function(){
                    layer.close();
                });

            })

        </script>
